# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
*.out
*.err
*.wav
*.pdf

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.swp

# Node (if you ever use it)
node_modules/

# Build
dist/
build/
